[package]
name = "vndb"
version = "0.5.1"
authors = ["Douman <douman@gmx.se>"]
description = "Kawaii VNDB API"
license = "MIT"

keywords = ["vndb"]

repository = "https://github.com/DoumanAsh/vndb.rs"
documentation = "https://docs.rs/vndb"

readme = "README.md"

[badges]
travis-ci = { repository = "DoumanAsh/vndb.rs" }

[dependencies]
serde = "1"
serde_derive = "1"
serde_json = "1"

bytes = "0"
futures = "0.1"
tokio-io = "0.1"

tokio = { version="0.1", optional = true }
tokio-tls = { version="0.1", optional = true }
native-tls = { version="0.1", optional = true }

[features]
tokio-client = ["tokio", "tokio-tls", "native-tls"]

[package.metadata.docs.rs]
features = ["tokio-client"]
