[package]
name = "vndb"
version = "0.6.2"
authors = ["Douman <douman@gmx.se>"]
description = "Kawaii VNDB API"
license = "MIT"

keywords = ["vndb"]

repository = "https://github.com/DoumanAsh/vndb.rs"
documentation = "https://docs.rs/vndb"

readme = "README.md"

[badges]
travis-ci = { repository = "DoumanAsh/vndb.rs" }

[dependencies]
log = "0"
serde = "1"
serde_derive = "1"
serde_json = "1"

bytes = "0"
futures = "0.1"
tokio-io = "0.1"
tokio-codec = "0.1"

tokio = { version = "0.1", optional = true }
tokio-rustls = { version = "0.7.1", optional = true }
webpki-roots = { version = "0.15", optional = true }

[features]
tokio-client = ["tokio", "tokio-rustls", "webpki-roots"]

[package.metadata.docs.rs]
features = ["tokio-client"]

[[test]]
name = "client"
path = "tests/client.rs"
required-features = ["tokio-client"]

[[test]]
name = "protocol"
path = "tests/protocol.rs"
