[package]
name = "vndb"
version = "0.1.0"
authors = ["Douman <douman@gmx.se>"]
description = "Kawaii VNDB API"
license = "MIT"

keywords = ["vndb"]

repository = "https://github.com/DoumanAsh/vndb.rs"
documentation = "https://docs.rs/vndb"

readme = "README.md"

[dependencies]
serde = "^1"
serde_derive = "^1"
serde_json = "^1"

lazy_static = "1"

native-tls = "0"

bytes = "0"
futures = "0"
tokio-io = "0"
tokio-core = "0"
tokio-tls = "0"
